.sec, .row{
  width: 100%;
}

.row{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;

}
.col{
  width: 50%;
  height : 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  background-color: rgb(128, 198, 238);
}

select{
  width: 80%;
  height: 40px;
}