*{
  padding: 0px;
  margin: 0px;
  /* 간격 사라짐 */
  box-sizing: border-box;
}

header{
 
  
  height: 80px;
  padding: 20px;
 
  /* 수평배치 */
}
/* nav >ul 도 가능 */
header, header ul{
  display: flex;
  flex-direction: row; 
  justify-content: space-between;
  align-items: center;
  
  
  
}
header, main, footer{
  width: 80%; 
  /* 브라우저 창 너비의 80$ */
  margin-left: 10%;
  /* 요소의 전체 너비는 80%로 설정되어 있으므로, 나머지 20%의 너비가 여백으로 남습니다.
이 20%의 여백 중 10%를 왼쪽에, 나머지 10%는 오른쪽에 배치됩니다. */
}
header, main {
  background-color: rgb(207, 233, 245);
  
}

main{
  padding: 30px;
}
footer{
  background-color: black;
  color: white;
}

#menu > a {
   background-color: aquamarine;
}

section{
  background-color: rgb(124, 173, 247);
}

.s1{
  background-color: rgb(213, 238, 245);
}

.s2{
  background-color: rgb(222, 243, 248);
}

/* 클래스보다 아이디가 우선 */
ul{
  list-style: none;
}
.menuli {
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
  border-radius: 5px;

  background-color: blue;
  color: white

  
  }
  .menuli:hover{
    background-color: chocolate;
  }

a{
  text-decoration: none;
  color: white;
}

article {
  padding: 60px;
}

article > p {
  padding: 20px;
}

p>span {
  color:brown;
}

h1 {
  display: flex;
  justify-content:center ;
  align-items: center;
  flex-direction: column;

  padding: 20px;

}

section{
  margin:  20px;
  padding: 20px 40px;
  background-color: white;
  border-radius: 15px;
}

.secDiv{
  display: flex;
  flex-direction: row;
}

.secDiv > div {
  width: 20%;
}

.secDiv img{
  width: 80%;
  border-radius: 50%
}

.secDiv > p {
  width: 80%;
  font-size: medium;
  color:gray;
  margin: 15px;
}
h2 {
  margin: 10px;
}

@media screen and (max-width:1024px) {
  header, main, footer{
    width: 100%;      
    margin-left: 0px; 
  }  
}
@media screen and (max-width:768px) {
  header, header ul{
    display: flex;
    flex-direction: column; 
    justify-content: space-between;
    align-items: center;

    width: 100%
  }
  header{
 
  
    height: auto;
    padding: 20px;
   
   
  }
  header li{
    width:60%;
    margin-bottom: 5px;
  }
}
footer li{
  border: 1px dotted white;
  text-align: center;
}

