h1{
  text-align: center;
  margin-left: 30px;
  color: rgb(90, 87, 87);
}

ul{
  list-style: none;
}

li{
  margin-bottom: 10px;
}

.number{
  display: inline-block; /* 네모박스 모양을 위해 블록처럼 처리 */
  width: 30px; /* 네모 박스의 너비 */
  height: 30px; /* 네모 박스의 높이 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  line-height: 30px; /* 텍스트를 수직으로 가운데 정렬 */
  background-color: dodgerblue; /* 배경색 */
  color: white; /* 글자 색상 */
  border-radius: 5px; /* 모서리를 둥글게 (선택 사항) */
  margin-right: 20px; /* 오른쪽에 여백 추가 */
  font-weight: bold; /* 글자를 굵게 */
}

.title{
  display: inline-block; /* 네모박스 모양을 위해 블록처럼 처리 */
  width: 50%; /* 네모 박스의 너비 */
  height: 30px; /* 네모 박스의 높이 */
  text-align: center; /* 텍스트를 가운데 정렬 */
  line-height: 30px; /* 텍스트를 수직으로 가운데 정렬 */
  background-color: rgb(238, 242, 246); /* 배경색 */
  color: white; /* 글자 색상 */
  border-radius: 5px; /* 모서리를 둥글게 (선택 사항) */
  font-weight: bold; /* 글자를 굵게 */

}



article ul {
 
  align-items: center;
  width: 80%;
  
  margin-top: 20px;
  list-style: none;
}

article li {
  display: flex;
  align-items: center;
  height: 20px;
  border: 1px dotted rgb(255, 252, 252);
  padding: 10px;
}
