.sec, .sec1{
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

input{
  width: 80%;
  height: 30px;

}

.secBt1, .secBt2, .secBt3{
  width: 15%;
  margin-top: 10px;
  margin: 10px

}

#secBt41{
  margin-right: 5px;
 
}

#secBt41, #secBt42{
  margin-top: 10px;
}


