.sec > input {
  width: 40%;
  height: 30px;
  margin: 10px;
}

.sec{
  display: flex;
  justify-content: center;
  align-items: center;

  width: 100%;

}

.sec>button{
  width : 25%;
  margin: 5px;
}

#txt2{
  background-color: hsl(197, 100%, 88%);
}