.sec {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
#msg, #msg2{
  margin-left: 10px;

}
.sec > button {
  margin: 5px;
}

#msg3{
  
  height: 40px;
  padding: 10px;
  background-color: azure;

  font-weight: bold;
  color: black;
}